<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>详情页面</title>
    <link rel="stylesheet" href="./bootstrap-3.4.1-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./fex-team-webuploader-ac93940/dist/webuploader.css" />
    <link rel="stylesheet" type="text/css" href="./fex-team-webuploader-ac93940/examples/image-upload/style.css" />

</head>
<body style="background-color: #fff;">
   

    </div>

</body>
</html>